<a onclick={{action "deployBlackDuck"}} role="button">
    <h3>{{this.data.first}} {{this.data.last}}</h3>
</a>

<div id="contact_form">
    <form name="bd-form" action="" class="form-horizontal">
        <div class="form-group">
            <label for="name" class="col-md-2 control-label">Name</label>
            <div class="col-md-5">
                {{input value=this.name class="form-control"}}
            </div>
        </div>
        <div class="form-group">
            <label for="namespace" class="col-md-2 control-label">Namespace</label>
            <div class="col-md-5">
                {{input value=this.namespace class="form-control"}}
            </div>
        </div>
        <div class="form-group">
            <label for="version" class="col-md-2 control-label">Version</label>
            <div class="col-md-5">
                {{input value=this.version class="form-control"}}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button {{action "deployBlackDuck"}} class="btn btn-sm btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>